
/*Reseteo css*/
*{
    margin: 0;
    padding: 0;
}

/*Fuente de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

body {

    background-color: $colorNegro;
    font-family: 'Roboto Flex', sans-serif;
}

#encabezado {
    text-align: center;
    color: #F75C03;
    margin: 30px;
    
}

#encabezadoContacto {
    text-align: center;
    color: #0075A2;
    margin: 30px;
    
}

.disclaimer {
    display: none;
}
